= simple_form_for(@task, html: {class: 'form-horizontal'}) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }
  = f.input :title, label: "tasks title"
  = f.input :description, label: "tasks description"
  = f.input :company, label: "company"
  = f.input :url, label: "link to tasks"
  %br/
  = f.button :submit